.home-page-container {
  background-color: #b91646;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hp-h1 {
  font-size: 50px;
  color: #fbf3e4;
  font-weight: bold;
  text-align: center;
}

.hp-button {
  padding: 12px 0px;
  border-radius: 10px;
  border: none;
  background-color: darkred;
  cursor: pointer;
  color: white;
  font-weight: bold;
  padding: 15px 30px;
  font-size: 20px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
