.r-h2 {
  font-weight: bold;
  font-size: 38px;
  color: #105652;
}
.r-input-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 28px;
}
.r-button-container {
  margin-top: 42px;
}

.r-alternative-login-text {
  margin-top: 45px;
  text-align: center;
  font-size: 14px;
  color: #105652;
}

.r-social-media-buttons-container {
  margin-top: 16px;
  display: flex;
  gap: 10px;
}
.r-register-container {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #105652;
}

.r-link {
  text-decoration: none;
  font-weight: 600;
}
