.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #dfd8ca;
}

.h-text-container {
  position: relative;
  width: 750px;
  z-index: 2;
  left: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
