.cm-btn {
  padding: 12px 0px;
  border-radius: 40px;
  border: none;
  background-color: #105652;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.cm-btn:hover {
  background-color: #21726e;
}

.cm-outline-btn {
  padding: 12px 0px;
  border-radius: 40px;
  background-color: transparent;
  border: 1px solid #21726e;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .cm-btn {
    padding: 8px 0px;
  }
  .cm-outline-btn {
    padding: 8px 0px;
  }
}
